/* base.html */

.header-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}

.footer-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0.8rem;
}

.page-title {
    text-align: center;
    color:#717171
}

.topic-text {
    color: #717171;
    /* font-size: 1rem; */
}

.caption-text {
    color: #717171;
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
}

.content-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
}

.note {
    font-size: 0.8rem;
    border: 1px solid #717171;
    border-radius: 5px;
    padding: 5px;
}

.header-footer, button #sources_button {
    background-color: #3162cc44;
}
/* 
button #sources_button{
    background-color: #3162cc44;
} */
