
.page-title {
    text-align: center;
    color:#717171
}

/* page topics */
.topic-container {
    display: grid;
    grid-template-columns: fit-content(900px);
    grid-template-areas: 
        "header"
        "topic";
    justify-content: center;
}

.topic-text {
    grid-area: topic;
    color: #717171;
}

.header-text {
    grid-area: header;
    text-align: center;
}

.caption-text {
    color: #717171;
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
}

.content-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
}

.note {
    font-size: 0.8rem;
    border: 1px solid #717171;
    border-radius: 5px;
    padding: 5px;
}

/* header and footer */
.header-footer, button #sources_button {
    background-color: #3162cc44;
}

/* header */
.header-outer-container {
    display: flex;
    justify-content: center;


.header-inner-container {
    width: 900px;
}

/* footer */
.footer-outer-container {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
}
.footer-inner-container {
    width: 900px;
}

/* sources button */
.sources-button-outer-container {
    display: flex;
    justify-content: center;
}
.sources-button-inner-container {
    width: 900px;
}
#sources_button {
    font-size: 0.8rem;
}

