/* base.html */

.header-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}

.footer-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0.8rem;
}

.page-title {
    text-align: center;
    color:#717171
}

.topic-container {
    display: grid;
    grid-template-columns: fit-content(900px);
    grid-template-areas: 
        "header"
        "topic";
    justify-content: center;
}

.topic-text {
    grid-area: topic;
    color: #717171;
}

.header-text {
    grid-area: header;
    text-align: center;
}

.caption-text {
    color: #717171;
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
}

.content-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
}

.note {
    font-size: 0.8rem;
    border: 1px solid #717171;
    border-radius: 5px;
    padding: 5px;
}

.header-footer, button #sources_button {
    background-color: #3162cc44;
}

/* 
button #sources_button{
    background-color: #3162cc44;
} */
